<table><tr><td>
  <mat-form-field appearance="outline">    <mat-label>ticker</mat-label>    <input matInput [(ngModel)]="ticker" type="text">  </mat-form-field>
</td><td>
  <mat-form-field appearance="outline">    <mat-label>ccy</mat-label>    <input type="text" matInput [(ngModel)]="ccy">  </mat-form-field>
</td><td>
  <mat-form-field appearance="outline">    <mat-label>fiscalYear</mat-label>    <input type="number" matInput [(ngModel)]="fiscalYear">  </mat-form-field>
</td><td>
  <mat-form-field appearance="outline">    <mat-label>reportDate</mat-label>    <input type="text" matInput [(ngModel)]="reportDate">  </mat-form-field>
</td><td>
  <mat-form-field appearance="outline">    <mat-label>sharesDiluted</mat-label>    <input type="number" matInput [(ngModel)]="sharesDiluted">  </mat-form-field>
</td></tr>
<tr><td>
  <mat-form-field appearance="outline">    <mat-label>revenue</mat-label>    <input type="number" matInput [(ngModel)]="revenue">  </mat-form-field>
</td><td>
  <mat-form-field appearance="outline">    <mat-label>cashEquivStInvest</mat-label>    <input type="number" matInput [(ngModel)]="cashEquivStInvest">  </mat-form-field>
</td><td>
  <mat-form-field appearance="outline">     <mat-label>netCashOps</mat-label>     <input type="number" matInput [(ngModel)]="netCashOps">   </mat-form-field>
</td></tr>
<tr><td>
  <mat-form-field appearance="outline">     <mat-label>grossProfit</mat-label>     <input type="number" matInput [(ngModel)]="grossProfit">   </mat-form-field>
</td><td>
  <mat-form-field appearance="outline">     <mat-label>totalCurAssets</mat-label>     <input type="number" matInput [(ngModel)]="totalCurAssets">   </mat-form-field>
</td><td>
  <mat-form-field appearance="outline" color="warn">     <mat-label>chgFixAssetsInt</mat-label>     <input type="number" matInput [(ngModel)]="chgFixAssetsInt">   </mat-form-field>
</td></tr>
<tr><td>
  <mat-form-field appearance="outline" color="warn">     <mat-label>sellingGenAdmin</mat-label>     <input type="number" matInput [(ngModel)]="sellingGenAdmin">   </mat-form-field>
</td><td>
  <mat-form-field appearance="outline">     <mat-label>totalNoncurAssets</mat-label>     <input type="number" matInput [(ngModel)]="totalNoncurAssets">   </mat-form-field>
</td><td>
  <mat-form-field appearance="outline">     <mat-label>netCashInv</mat-label>     <input type="number" matInput [(ngModel)]="netCashInv">   </mat-form-field>
</td></tr>
<tr><td>
  <mat-form-field appearance="outline" color="warn">     <mat-label>researchDev</mat-label>     <input type="number" matInput [(ngModel)]="researchDev">   </mat-form-field>
</td><td>
  <mat-form-field appearance="outline">     <mat-label>totalAssets</mat-label>     <input type="number" matInput [(ngModel)]="totalAssets">   </mat-form-field>
</td><td>
  <mat-form-field appearance="outline" color="warn">     <mat-label>dividendsPaid</mat-label>     <input type="number" matInput [(ngModel)]="dividendsPaid">   </mat-form-field>
</td></tr>
<tr><td>
  <mat-form-field appearance="outline" color="warn">     <mat-label>deprAmor</mat-label>     <input type="number" matInput [(ngModel)]="deprAmor">   </mat-form-field>
</td><td>
  <mat-form-field appearance="outline">     <mat-label>totalCurLiab</mat-label>     <input type="number" matInput [(ngModel)]="totalCurLiab">   </mat-form-field>
</td><td>
  <mat-form-field appearance="outline" color="warn">     <mat-label>cashRepayDebt</mat-label>     <input type="number" matInput [(ngModel)]="cashRepayDebt">   </mat-form-field>
</td></tr>
<tr><td>
  <mat-form-field appearance="outline">     <mat-label>operatingIncome</mat-label>     <input type="number" matInput [(ngModel)]="operatingIncome">   </mat-form-field>
</td><td>
  <mat-form-field appearance="outline">     <mat-label>ltDebt</mat-label>     <input type="number" matInput [(ngModel)]="ltDebt">   </mat-form-field>
</td><td>
  <mat-form-field appearance="outline" color="warn">     <mat-label>cashRepurchaseEquity</mat-label>     <input type="number" matInput [(ngModel)]="cashRepurchaseEquity">   </mat-form-field>
</td></tr>
<tr><td>
  <mat-form-field appearance="outline" color="warn">     <mat-label>interestExpNet</mat-label>     <input type="number" matInput [(ngModel)]="interestExpNet">   </mat-form-field>
</td><td>
  <mat-form-field appearance="outline">     <mat-label>totalNoncurLiab</mat-label>     <input type="number" matInput [(ngModel)]="totalNoncurLiab">   </mat-form-field>
</td><td>
  <mat-form-field appearance="outline">     <mat-label>netCashFin</mat-label>     <input type="number" matInput [(ngModel)]="netCashFin">   </mat-form-field>
</td></tr>
<tr><td>
  <mat-form-field appearance="outline" color="warn">     <mat-label>incomeTax</mat-label>     <input type="number" matInput [(ngModel)]="incomeTax">   </mat-form-field>
</td><td>
  <mat-form-field appearance="outline">     <mat-label>totalLiabilities</mat-label>     <input type="number" matInput [(ngModel)]="totalLiabilities">   </mat-form-field>
</td><td>
  <mat-form-field appearance="outline">     <mat-label>netChgCash</mat-label>     <input type="number" matInput [(ngModel)]="netChgCash">   </mat-form-field>
</td></tr>
<tr><td>
  <mat-form-field appearance="outline">     <mat-label>netIncome</mat-label>     <input type="number" matInput [(ngModel)]="netIncome">   </mat-form-field>
</td><td>
  <mat-form-field appearance="outline">     <mat-label>totalEquity</mat-label>     <input type="number" matInput [(ngModel)]="totalEquity">   </mat-form-field>
</td></tr>
<tr><td>
  <mat-form-field appearance="outline">     <mat-label>totalLiabEquity</mat-label>     <input type="number" matInput [(ngModel)]="totalLiabEquity">   </mat-form-field>
</td></tr></table>
<p>
  <button (click)="addFundamentals()">Add Fundamentals</button>
</p>

