<input #positionId (keyup.enter)="onEnter(positionId.value)">
<ag-grid-angular style="width: 100%; height: 53px;" class="ag-theme-alpine" [rowData]="rowData | async"
  [columnDefs]="columnDefs" (gridReady)="onGridReady($event)" (rowDataUpdated)="onRowDataChanged($event)">
</ag-grid-angular>
<table>
  <tr>
    <td>
      <mat-checkbox matInput [(ngModel)]="active">Active</mat-checkbox>
    </td>
    <td>
      <mat-form-field appearance="outline">
        <mat-label>portfolioId</mat-label>
        <input type="number" matInput [(ngModel)]="portfolioId">
      </mat-form-field>
    </td>
    <td>
      <mat-form-field appearance="outline">
        <mat-label>refDataId</mat-label>
        <input type="number" matInput [(ngModel)]="refDataId">
      </mat-form-field>
    </td>
    <td>
      <mat-form-field appearance="outline">
        <mat-label>value</mat-label>
        <input type="number" matInput [(ngModel)]="value">
      </mat-form-field>
    </td>
    <td>
      <mat-form-field appearance="outline">
        <mat-label>model</mat-label>
        <input type="number" matInput [(ngModel)]="model">
      </mat-form-field>
    </td>
  </tr>
</table>
<p>
  <button (click)="updatePosition()">Update Position</button>
</p>
<p>
  <button (click)="addPosition()">Add Position</button>
</p>