<div *ngIf="portfolios.length > 0">
    <div class="row">
        <app-portfolio-summary style="width: 100%; height: 53px;" [rowData]="[portfolios[0]]">
        </app-portfolio-summary>
        <ag-grid-angular class="ag-theme-alpine" style="width: 100%; height: 53px;" [rowData]="returns | slice:0:1"
            [columnDefs]="columnDefs" (gridReady)="onGridReady($event)">
        </ag-grid-angular>
    </div>
</div>
<div class="row">
    <ag-grid-angular class="ag-theme-alpine" style="width: 100%; height: 160px;" [rowData]="returns | slice:1:4"
        [columnDefs]="columnDefs" (gridReady)="onGridReady($event)">
    </ag-grid-angular>
    <ag-grid-angular class="ag-theme-alpine" style="width: 100%; height: 160px;" [rowData]="returns | slice:4"
        [columnDefs]="columnDefs" (gridReady)="onGridReady($event)">
    </ag-grid-angular>
</div>
<div class="row">
    <div *ngFor="let portfolio of portfolios | slice:1" class="col">
        <app-portfolio-summary [rowData]="[portfolio]" [historyMode]="historyMode">
        </app-portfolio-summary>
    </div>
</div>