<div class="main-header">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span> Kapparu </span>
            <button mat-raised-button color="accent" [routerLink]="'/portfolios-monitor'">Home</button>
            <button mat-raised-button color="accent" [routerLink]="'/watch-monitor'">Watch</button>
            <button mat-raised-button color="accent" [routerLink]="'/mergers-monitor'">Mergers</button>
            <button mat-raised-button color="accent" [routerLink]="'/fundamentals-monitor'">Fundamentals</button>
            <span class="toolbar-spacer"></span>
            <button mat-raised-button color="primary" [routerLink]="'/portfolios-history-monitor'">History</button>
            <button mat-raised-button color="primary" [routerLink]="'/ref-data-editor'">Admin</button>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
<div class="main-content">
    <router-outlet></router-outlet>
</div>