<button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="this.currentDisplay = this.currentDisplayType.summary">Summary</button>
  <button mat-menu-item (click)="this.currentDisplay = this.currentDisplayType.income">Income</button>
  <button mat-menu-item (click)="this.currentDisplay = this.currentDisplayType.balance">Balance</button>
  <button mat-menu-item (click)="this.currentDisplay = this.currentDisplayType.cashflow">Cashflow</button>
</mat-menu>
<input #ticker (keyup.enter)="onEnter(ticker.value)">

<ag-grid-angular
	style="width: 100%; height: 100px;"
    class="ag-theme-alpine"
    [rowData]="headlineRowData | async"
    [columnDefs]="headlineColumnDefs"
	(gridReady)="onHeadlineGridReady($event)"
    >
</ag-grid-angular>
<ag-grid-angular
    *ngIf="currentDisplay == currentDisplayType.summary"
    style="width: 100%; height: 700px;"
    class="ag-theme-alpine"
    [rowData]="summaryRowData | async"
    [columnDefs]="summaryColumnDefs"
	(gridReady)="onSummaryGridReady($event)"
    >
</ag-grid-angular>
<ag-grid-angular
    *ngIf="currentDisplay == currentDisplayType.income"
    style="width: 100%; height: 700px;"
    class="ag-theme-alpine"
    [rowData]="rowData | async"
    [columnDefs]="columnDefs"
	(gridReady)="onGridReady($event)"
    >
</ag-grid-angular>
<ag-grid-angular
    *ngIf="currentDisplay == currentDisplayType.balance"
    style="width: 100%; height: 700px;"
    class="ag-theme-alpine"
    [rowData]="balanceRowData | async"
    [columnDefs]="balanceColumnDefs"
	(gridReady)="onBalanceGridReady($event)"
    >
</ag-grid-angular>
<ag-grid-angular
    *ngIf="currentDisplay == currentDisplayType.cashflow"
    style="width: 100%; height: 700px;"
    class="ag-theme-alpine"
    [rowData]="cashflowRowData | async"
    [columnDefs]="cashflowColumnDefs"
	(gridReady)="onCashflowGridReady($event)"
    >
</ag-grid-angular>