<div class="main-header">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <input matInput [matDatepicker]="picker" [(ngModel)]="date" (dateChange)="onDateChange($event)">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <button mat-raised-button color="accent" (click)="onClickDownOneDay($event)">&lt;&lt;</button>
            <button mat-raised-button color="accent" (click)="onClickUpOneDay($event)">&gt;&gt;</button>
            <span>{{date?.toString().slice(0, 15)}}</span>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
<div class="main-content">
    <router-outlet></router-outlet>
</div>