:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

button {
    margin :7px 
}

.toolbar-spacer {
    flex: 1 1 auto;
 }

.main-header {
    flex: 0 1 auto;
    /* The above is shorthand for:
    flex-grow: 0,
    flex-shrink: 1,
    flex-basis: auto
    */
 }
  
.main-content {
    flex: 1 1 auto;
}