<table><tr><td>
  <mat-form-field appearance="outline">
    <mat-label>ticker</mat-label>
    <input matInput [(ngModel)]="ticker" type="text">
  </mat-form-field>
</td><td>  
<mat-form-field appearance="outline">
    <mat-label>simfinId</mat-label>
    <input matInput [(ngModel)]="simfinId" type="number">
  </mat-form-field>
</td><td>
  <mat-form-field appearance="outline">
    <mat-label>ccy</mat-label>
    <input type="text" matInput [(ngModel)]="ccy">
  </mat-form-field>
</td><td>
  <mat-form-field appearance="outline">
    <mat-label>fiscalYear</mat-label>
    <input type="number" matInput [(ngModel)]="fiscalYear">
  </mat-form-field>
</td><td>
  <mat-form-field appearance="outline">
    <mat-label>fiscalPeriod</mat-label>
    <input type="text" matInput [(ngModel)]="fiscalPeriod">
  </mat-form-field>
</td><td>
  <mat-form-field appearance="outline">
    <mat-label>reportDate</mat-label>
    <input type="text" matInput [(ngModel)]="reportDate">
  </mat-form-field>
</td><td>
  <mat-form-field appearance="outline">
    <mat-label>publishDate</mat-label>
    <input type="text" matInput [(ngModel)]="publishDate">
  </mat-form-field>
</td><td>
  <mat-form-field appearance="outline">
    <mat-label>sharesBasic</mat-label>
    <input type="number" matInput [(ngModel)]="sharesBasic">
  </mat-form-field>
</td><td>
  <mat-form-field appearance="outline">
    <mat-label>sharesDiluted</mat-label>
    <input type="number" matInput [(ngModel)]="sharesDiluted">
  </mat-form-field>
</td></tr><tr><td>
  <mat-form-field appearance="outline">
    <mat-label>revenue</mat-label>
    <input type="number" matInput [(ngModel)]="revenue">
  </mat-form-field>
</td><td>
  <mat-form-field appearance="outline">
    <mat-label>cashEquivStInvest</mat-label>
    <input type="number" matInput [(ngModel)]="cashEquivStInvest">
  </mat-form-field>
</td></tr><tr><td>
  <mat-form-field appearance="outline">     <mat-label>costRevenue</mat-label>     <input type="number" matInput [(ngModel)]="costRevenue">   </mat-form-field>
</td><td>
  <mat-form-field appearance="outline">     <mat-label>accNotesRecv</mat-label>     <input type="number" matInput [(ngModel)]="accNotesRecv">   </mat-form-field>
</td><td>
  <mat-form-field appearance="outline">     <mat-label>netIncomeStart</mat-label>     <input type="number" matInput [(ngModel)]="netIncomeStart">   </mat-form-field>
</td></tr><tr><td>
  <mat-form-field appearance="outline">     <mat-label>grossProfit</mat-label>     <input type="number" matInput [(ngModel)]="grossProfit">   </mat-form-field>
</td><td>
  <mat-form-field appearance="outline">     <mat-label>inventories</mat-label>     <input type="number" matInput [(ngModel)]="inventories">   </mat-form-field>
</td><td>
  <mat-form-field appearance="outline">     <mat-label>nonCashItems</mat-label>     <input type="number" matInput [(ngModel)]="nonCashItems">   </mat-form-field>
</td></tr><tr><td>
  <mat-form-field appearance="outline">     <mat-label>operatingExpenses</mat-label>     <input type="number" matInput [(ngModel)]="operatingExpenses">   </mat-form-field>
</td><td>
  <mat-form-field appearance="outline">     <mat-label>totalCurAssets</mat-label>     <input type="number" matInput [(ngModel)]="totalCurAssets">   </mat-form-field>
</td><td>
  <mat-form-field appearance="outline">     <mat-label>chgWorkingCapital</mat-label>     <input type="number" matInput [(ngModel)]="chgWorkingCapital">   </mat-form-field>
</td></tr><tr><td>
  <mat-form-field appearance="outline">     <mat-label>sellingGenAdmin</mat-label>     <input type="number" matInput [(ngModel)]="sellingGenAdmin">   </mat-form-field>
</td><td>
  <mat-form-field appearance="outline">     <mat-label>propPlantEquipNet</mat-label>     <input type="number" matInput [(ngModel)]="propPlantEquipNet">   </mat-form-field>
</td><td>
  <mat-form-field appearance="outline">     <mat-label>chgAccountsRecv</mat-label>     <input type="number" matInput [(ngModel)]="chgAccountsRecv">   </mat-form-field>
</td></tr><tr><td>
  <mat-form-field appearance="outline">     <mat-label>researchDev</mat-label>     <input type="number" matInput [(ngModel)]="researchDev">   </mat-form-field>
</td><td>
  <mat-form-field appearance="outline">     <mat-label>ltInvestRecv</mat-label>     <input type="number" matInput [(ngModel)]="ltInvestRecv">   </mat-form-field>
</td><td>
  <mat-form-field appearance="outline">     <mat-label>chgInventories</mat-label>     <input type="number" matInput [(ngModel)]="chgInventories">   </mat-form-field>
</td></tr><tr><td>
  <mat-form-field appearance="outline">     <mat-label>deprAmor</mat-label>     <input type="number" matInput [(ngModel)]="deprAmor">   </mat-form-field>
</td><td>
  <mat-form-field appearance="outline">     <mat-label>otherLtAssets</mat-label>     <input type="number" matInput [(ngModel)]="otherLtAssets">   </mat-form-field>
</td><td>
  <mat-form-field appearance="outline">     <mat-label>chgAccPayable</mat-label>     <input type="number" matInput [(ngModel)]="chgAccPayable">   </mat-form-field>
</td></tr><tr><td>
  <mat-form-field appearance="outline">     <mat-label>operatingIncome</mat-label>     <input type="number" matInput [(ngModel)]="operatingIncome">   </mat-form-field>
</td><td>
  <mat-form-field appearance="outline">     <mat-label>totalNoncurAssets</mat-label>     <input type="number" matInput [(ngModel)]="totalNoncurAssets">   </mat-form-field>
</td><td>
  <mat-form-field appearance="outline">     <mat-label>chgOther</mat-label>     <input type="number" matInput [(ngModel)]="chgOther">   </mat-form-field>
</td></tr><tr><td>
  <mat-form-field appearance="outline">     <mat-label>nonOperatingIncome</mat-label>     <input type="number" matInput [(ngModel)]="nonOperatingIncome">   </mat-form-field>
</td><td>
  <mat-form-field appearance="outline">     <mat-label>totalAssets</mat-label>     <input type="number" matInput [(ngModel)]="totalAssets">   </mat-form-field>
</td><td>
  <mat-form-field appearance="outline">     <mat-label>netCashOps</mat-label>     <input type="number" matInput [(ngModel)]="netCashOps">   </mat-form-field>
</td></tr><tr><td>
  <mat-form-field appearance="outline">     <mat-label>interestExpNet</mat-label>     <input type="number" matInput [(ngModel)]="interestExpNet">   </mat-form-field>
</td><td>
  <mat-form-field appearance="outline">     <mat-label>payablesAccruals</mat-label>     <input type="number" matInput [(ngModel)]="payablesAccruals">   </mat-form-field>
</td><td>
  <mat-form-field appearance="outline">     <mat-label>chgFixAssetsInt</mat-label>     <input type="number" matInput [(ngModel)]="chgFixAssetsInt">   </mat-form-field>
</td></tr><tr><td>
  <mat-form-field appearance="outline">     <mat-label>pretaxIncomeLossAdj</mat-label>     <input type="number" matInput [(ngModel)]="pretaxIncomeLossAdj">   </mat-form-field>
</td><td>
  <mat-form-field appearance="outline">     <mat-label>stDebt</mat-label>     <input type="number" matInput [(ngModel)]="stDebt">   </mat-form-field>
</td><td>
  <mat-form-field appearance="outline">     <mat-label>netChgLtInvest</mat-label>     <input type="number" matInput [(ngModel)]="netChgLtInvest">   </mat-form-field>
</td></tr><tr><td>
  <mat-form-field appearance="outline">     <mat-label>abnormGainLoss</mat-label>     <input type="number" matInput [(ngModel)]="abnormGainLoss">   </mat-form-field>
</td><td>
  <mat-form-field appearance="outline">     <mat-label>totalCurLiab</mat-label>     <input type="number" matInput [(ngModel)]="totalCurLiab">   </mat-form-field>
</td><td>
  <mat-form-field appearance="outline">     <mat-label>netCashAcqDivest</mat-label>     <input type="number" matInput [(ngModel)]="netCashAcqDivest">   </mat-form-field>
</td></tr><tr><td>
  <mat-form-field appearance="outline">     <mat-label>pretaxIncomeLoss</mat-label>     <input type="number" matInput [(ngModel)]="pretaxIncomeLoss">   </mat-form-field>
</td><td>
  <mat-form-field appearance="outline">     <mat-label>ltDebt</mat-label>     <input type="number" matInput [(ngModel)]="ltDebt">   </mat-form-field>
</td><td>
  <mat-form-field appearance="outline">     <mat-label>netCashInv</mat-label>     <input type="number" matInput [(ngModel)]="netCashInv">   </mat-form-field>
</td></tr><tr><td>
  <mat-form-field appearance="outline">     <mat-label>incomeTax</mat-label>     <input type="number" matInput [(ngModel)]="incomeTax">   </mat-form-field>
</td><td>
  <mat-form-field appearance="outline">     <mat-label>totalNoncurLiab</mat-label>     <input type="number" matInput [(ngModel)]="totalNoncurLiab">   </mat-form-field>
</td><td>
  <mat-form-field appearance="outline">     <mat-label>dividendsPaid</mat-label>     <input type="number" matInput [(ngModel)]="dividendsPaid">   </mat-form-field>
</td></tr><tr><td>
  <mat-form-field appearance="outline">     <mat-label>incomeContOp</mat-label>     <input type="number" matInput [(ngModel)]="incomeContOp">   </mat-form-field>
</td><td>
  <mat-form-field appearance="outline">     <mat-label>totalLiabilities</mat-label>     <input type="number" matInput [(ngModel)]="totalLiabilities">   </mat-form-field>
</td><td>
  <mat-form-field appearance="outline">     <mat-label>cashRepayDebt</mat-label>     <input type="number" matInput [(ngModel)]="cashRepayDebt">   </mat-form-field>
</td></tr><tr><td>
  <mat-form-field appearance="outline">     <mat-label>netExtrGainLoss</mat-label>     <input type="number" matInput [(ngModel)]="netExtrGainLoss">   </mat-form-field>
</td><td>
  <mat-form-field appearance="outline">     <mat-label>shareCapitalAdd</mat-label>     <input type="number" matInput [(ngModel)]="shareCapitalAdd">   </mat-form-field>
</td><td>
  <mat-form-field appearance="outline">     <mat-label>cashRepurchaseEquity</mat-label>     <input type="number" matInput [(ngModel)]="cashRepurchaseEquity">   </mat-form-field>
</td></tr><tr><td>
  <mat-form-field appearance="outline">     <mat-label>netIncome</mat-label>     <input type="number" matInput [(ngModel)]="netIncome">   </mat-form-field>
</td><td>
  <mat-form-field appearance="outline">     <mat-label>treasuryStock</mat-label>     <input type="number" matInput [(ngModel)]="treasuryStock">   </mat-form-field>
</td><td>
  <mat-form-field appearance="outline">     <mat-label>netCashFin</mat-label>     <input type="number" matInput [(ngModel)]="netCashFin">   </mat-form-field>
</td></tr><tr><td>
  <mat-form-field appearance="outline">     <mat-label>netIncomeCommon</mat-label>     <input type="number" matInput [(ngModel)]="netIncomeCommon">   </mat-form-field>
</td><td>
  <mat-form-field appearance="outline">     <mat-label>retainedEarnings</mat-label>     <input type="number" matInput [(ngModel)]="retainedEarnings">   </mat-form-field>
</td><td>
  <mat-form-field appearance="outline">     <mat-label>netChgCash</mat-label>     <input type="number" matInput [(ngModel)]="netChgCash">   </mat-form-field>
</td></tr><tr><td>
  <mat-form-field appearance="outline">     <mat-label>totalEquity</mat-label>     <input type="number" matInput [(ngModel)]="totalEquity">   </mat-form-field>
</td></tr><tr><td>
  <mat-form-field appearance="outline">     <mat-label>totalLiabEquity</mat-label>     <input type="number" matInput [(ngModel)]="totalLiabEquity">   </mat-form-field>
</td></tr></table>
<p>
  <button (click)="addFundamentals()">Add Fundamentals</button>
</p>

